{% extends 'judolaunch/base.html' %}
{% block title %} Discount Codes {% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Код</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for code in codes %}
                        <tr>
                            <td>{{ code.product }}</td>
                            <td>{{ code.code }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}
