{% extends 'judolaunch/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_username">Логин:</label>
                        <input type="text" name="username" id="id_username" placeholder="username" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="id_password">Пароль:</label>
                        <input type="password" name="password" id="id_password" placeholder="password" class="form-control">
                    </div>

                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
