{% extends 'judolaunch/base.html' %}
{% load staticfiles %}
{% block title %} Set Up Discount Codes {% endblock %}
{% block head_scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="{% static 'csrf.js' %}"></script>
{% endblock %}
{% block content %}

    {% verbatim %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h4>Назначить скидки</h4>
                <br>
                <div id="app">

                    <form action="javascript:void">

                        <div class="form-group">
                            <label for="id_user">Участник:</label>
                            <select name="user" id="id_user" v-model="current_user" class="form-control">
                                <option v-for="user in users" :value="user.id">{{ user.username }}</option>
                            </select>
                        </div>
                        <button id="id_find_btn" @click="changeVisibility" class="btn btn-primary">Найти</button>
                    </form>

                    <br>

                    <form action="javascript:void" v-if="is_visible">
                        <div class="form-group">
                            <label for="id_product">Товар:</label>
                            <select name="product" id="id_product" v-model="current_product" class="form-control">
                                <option v-for="product in products" :value="product.id">{{ product.title }}</option>
                            </select>
                        </div>
                        <button id="id_get_code_btn" @click="generate_code" class="btn btn-danger">Назначить код</button>
                    </form>

                    <br>
                    <div class="form-group">
                        <input type="text" disabled placeholder="- - - -" :value="current_code" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}

{% endblock %}

{% block body_scripts %}
    <script src="{% static 'lib/vue.js' %}"></script>
    <script src="{% static 'judolaunch/app.js' %}"></script>
{% endblock %}
